* {
	padding: 0; margin: 0 auto;
}
ul, li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	vertical-align: middle;
}
.wrap {
	width: 1100px;
	height: 1370px;
}
#header {
	width: 100%;
	height: 160px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 100;
}
#logo {
	height: 80px;
	line-height: 80px;
}

#gnb a {
	display: block;
}
#gnb > ul {
	display: flex;
}
#gnb > ul > li {
	position: relative;
}
#gnb > ul > li > ul {
	position: absolute;
	display: none;
	left: 0;
	right: 0;
}
#gnb > ul > li > a {
	line-height: 80px;
	background: #fff;
	color: #c03e58;
	padding: 0 40px;
}
#gnb > ul > li:hover > ul {
	display: block;
}
#gnb > ul > li:hover > a {
	background: #c03e58;
	color: #fff;
}
#gnb > ul > li > ul > li > a {
	line-height: 40px;
	background: #c03e58;
	color: #fff;
	text-align: center;
}
.slide {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}
.slide ul {
	width: 300%;
	height: 100%;
	display: flex;	
}
.slide li {
	width: 33.33%;
	height: 100%;
}
.slide li:nth-child(1) { background: url("../images/slide1.jpg") no-repeat center center; background-size: 100% auto; }
.slide li:nth-child(2) { background: url("../images/slide2.jpg") no-repeat center center; background-size: 100% auto; }
.slide li:nth-child(3) { background: url("../images/slide3.jpg") no-repeat center center; background-size: 100% auto; }

.slogan {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 40%;
	background: rgba(255,255,255,0.3);
	display: flex;
	align-items: center;
	text-align: center;
}
.slogan p {
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}
.slogan p > strong {
	font-size: 25px;
	font-weight: bolder;
}

.content_wrap {
	width: 100%;
	height: 650px;
}

.item_list {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.item_list .icon {
	display: inline-block;
	background: #c03e58;
	border-radius: 50%;
	line-height: 40px;
	padding: 20px;
	color: #fff;
	margin: 10px 0;
}
.item_list .title {
	display: block;
	font-size: 25px;
	line-height: 50px;
	color: #c03e58;
}

.item_list .desc {
	font-size: 15px;
	color: #666666;
}

#type3 {
	display: flex;
	justify-content: space-between;
}












